@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #133d7b;
  --secondary-blue: #37acb1;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-blue: var(--primary-blue);
  --color-secondary-blue: var(--secondary-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--primary-blue);
    --foreground: #ededed;
    --primary-blue: #133d7b;
    --secondary-blue: #37acb1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
